<!DOCTYPE html>
<html>
    <head>
        <title>52 45 56 45 52 53 45 20 43 41 50 54 43 48 41</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>


    <body class="background-colour align-center">

        {% block javascript %}
        <script type="text/javascript">
        {% include "js/main.js" %}
        </script>
        {% endblock %}

        <div>
            <h1>
                50 52 4F 56 45 20 59 4F 55 20 41 52 45 20 4E 4F 54 20 41 20 48 55 4D 41 4E
            </h1>
            <h2>
                45 4E 54 45 52 20 59 4F 55 52 20 46 41 56 4F 55 52 49 54 45 20 53 49 54 45
            </h2>
            <span>
                55 52 4C 3A <input id="send"/> <button onclick="activate('68 75 6D 61 6E')">53 75 62 6D 69 74</button>
            </span>
        </div>
    </body>
</html>
