{% extends "base.html"%}
{% block content %}
    <h1>Hello, {{ user.username }}!</h1>
    {%for post in posts%}
    {% if post.author.username == user.username %}
    <div><p>{{ post.author.username }} note: <i><b>{{ post.body }}</b></i></p></div>
    {% endif %}
    {%endfor%}
{% endblock %}
